<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/syntax.css">
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/style.css">
  <!-- Typekit -->
  <script type="text/javascript" src="http://use.typekit.com/kvm4tzq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script></head>
<body>
  <header>
    <a id="site-title" class="tk-adelle" href="{{ HOME_PATH }}">{{ site.title }}</a>
    <ul id="navigation" class="tk-adelle">
      <li><a href="{{ BASE_PATH }}{{ site.JB.about_path }}">About me</a></li>
    </ul>
    <ul id="social-icons">
      <li><a class="rss" href="http://balintk.com/atom.xml"></a></li>
      <li><a class="twitter" href="http://twitter.com/balintkleri"></a></li>
      <li><a class="drupal" href="http://drupal.org/user/613760"></a></li>
      <li><a class="github" href="http://github.com/balintk"></a></li>
    </ul>
  </header>
  <div style="clear: both;"></div>

  <div role="main">{{ content }}</div>

  <footer>&copy; 2012 {{ site.author.name }}</footer>

  {% include JB/analytics %}

</body>
</html>

